{% extends 'base.html' %}

{% block title %}
    Scrumptious recipes
{% endblock title %}

{% block content %}
<header>
      <nav>
        <a class="page-nav" href="{% url 'recipe_list' %}">Main page</a>
      </nav>
      <hr style="height: 1px" color="black" />
    </header>
    <main>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Create</button>
        </form>
    </main>
{% endblock content %}
