{% extends 'base.html' %}
{% block title %}
  Scrumptious recipes
{% endblock title %}
{% block content %}
  <header>
    <nav>
      <a class="page-nav" href="{% url 'recipe_list' %}">Main page</a>
      <a class="page-nav" href="{% url 'edit_recipe' recipe_object.id %}">Edit a recipe</a>
    </nav>
    <hr style="height: 1px" color="black" />
  </header>
  <main>
    <div>
      <h1>{{ recipe_object.title }}</h1>
      <a href="/detail.html"></a>
      <img src="{{ recipe_object.picture }}" alt="photo of tacos" />
    </div>
    <div>4.3 stars</div>
    <p>{{ recipe_object.description }}</p>
    <h2>Ingredients</h2>
    <table>
      <tr>
        <th>Amount</th>
        <th>Food item</th>
      </tr>
      <tbody>
        {% for ingredient in recipe_object.ingredients.all %}
          <tr>
            <td>{{ ingredient.amount }}</td>
            <td>{{ ingredient.food_item }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <h2>Steps</h2>
    <ol>
      {% for step in recipe_object.steps.all %}
         <li>{{ step.instruction }}</li>
      {% endfor %}
    </ol>
  </main>
{% endblock content %}
